body {
  font-family: monospace;
  font-size: 12px;
}


.currentlyFocused {
  background-color: #EEFFEE;
}

li {
  padding: 3px;
}

ul {
  padding-left: 15px;
  list-style-position: inside;
}

textarea {
  border: none;
  font-family: monospace;
  font-size: 12px;
  padding: 0 0;
}


#usage {
  position: fixed;
  bottom: 0;
}
